html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-dividers{
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 35px;
  color: white;
  background-color: #1D2129;
  font-family: sura;
  justify-content: center;
}

.image-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  background-image: url("../assets/images/bar.jpg");
  background-size: cover;
}

.phone-address-mobile-holder{
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 15rem;
  margin-left: 5rem;
}

.phone-address-mobile-text1{
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2rem;
  display: inline-block;
  margin-top: 15px;
}
.phone-address-mobile-text2{
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2rem;
  display: inline-block;
  margin-bottom: 15px;
}

header {
  display: flex;
  background-image: url('../assets/images/header.jpg');
  width: 100%;
  height: 200px;
  background-size: cover;
}

logo {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  border-radius: 100%;
}

logo > p {
  font-family: 'Ruslan Display', cursive;
  font-size: 18px;
  color: #0D26CD;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin-left: 40px;
}

nav > a {
  display: inline-block;
  color: white;
  font-family: 'Sura', serif;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;

}
